mixin footer()
  footer.container
    nav.navbar.navbar-dark.bg-primary
      div.copyright
        i.far.fa-copyright
        span.btn-text Copyright 2017
      ul.buttons
        li.btn.btn-light
          i.far.fa-save
          span.btn-text Save
        li.btn.btn-outline-light
          i.fas.fa-reply
          span.btn-text Back

