header.container,
footer.container {
  position: relative;
  z-index: 2; }

.bg-primary {
  background-color: #7D00FF !important; }

.btn {
  cursor: pointer; }
  .btn.toggle {
    width: 50px;
    margin-right: 190px; }

.btn-light {
  font-size: 24px;
  color: #7D00FF !important; }

.btn-outline-light {
  font-size: 24px;
  color: #FFFFFF !important; }
  .btn-outline-light:hover, .btn-outline-light:focus:not(.toggle) {
    color: #7D00FF !important; }

.btn-text {
  margin-left: 15px; }

.navbar {
  height: 100px;
  padding: 20px 25px 20px 40px; }

.navbar-brand {
  margin-right: auto;
  font-size: 32px; }

.nav-link {
  font-size: 24px;
  color: #7D00FF;
  background-color: #FFFFFF;
  border-radius: 5px; }
  .nav-link:hover, .nav-link:focus {
    color: #7000E0; }

.dropdown-item {
  color: #7D00FF; }

.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.col-3,
.col {
  height: calc(100vh - 200px);
  overflow-y: scroll; }

.col-3.collapse {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 9px 0 14px 5px rgba(0, 0, 0, 0.43);
          box-shadow: 9px 0 14px 5px rgba(0, 0, 0, 0.43); }
  .col-3.collapse .col-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    max-width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #7000E0; }
  .col-3.collapse a {
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFFFF; }
    .col-3.collapse a:last-child {
      margin-bottom: 0; }

.col {
  margin: 0 10px; }
  .col .col-wrap {
    padding: 15px; }

.col-wrap {
  width: 100%;
  background-color: #E6E6E6; }

.table {
  margin-bottom: 0; }

.table.small td {
  position: relative;
  padding: 20px 20px 20px 90px;
  max-width: 200px;
  font-size: 20px;
  color: #7D00FF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .table.small td::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 20px;
    width: 48px;
    height: 48px;
    background-color: #7D00FF;
    border-radius: 50%; }

.table.big tr:nth-child(odd) {
  background-color: #F5F5F5; }

.table.big td {
  border-bottom-width: 4px; }

.long-text {
  font-size: 16px; }

.copyright {
  font-size: 18px;
  color: #FFFFFF; }

footer.container {
  max-width: 1110px;
  padding: 0;
  -webkit-box-shadow: 1px -2px 14px 1px rgba(0, 0, 0, 0.43);
          box-shadow: 1px -2px 14px 1px rgba(0, 0, 0, 0.43); }

.body {
  background-color: #7000E0; }

.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
  .buttons li {
    margin-right: 20px; }
    .buttons li:last-child {
      margin-right: 0; }
